<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}fakestore-admin{% endblock %}</title>
	<link rel="icon" href="{{ asset('favicon.ico') }}">
	{% block stylesheets %}
		{{ encore_entry_link_tags('admin') }}
	{% endblock %}

</head>
<body>

<div id="fakestore-admin" ></div>
</body>
{% block javascripts %}

	{{ encore_entry_script_tags('admin') }}
{% endblock %}
</html>
